/* Add your custom theme styles here */

[data-engrid-theme="catholicextension"]{

    // Hide unused sections
    .page-alert, .body-bannerOverlay {
        display:none;
    }


    .body-header {
        margin-top:1.5rem;
    }

    .body-footer {
        margin-bottom:1.5rem;
    }

    button,
    .button,
    .en__tweetButton a,
    .radio-to-buttons .en__field--radio input[type=radio]+label,
    .en__field--give-by-select.en__field--radio input[type=radio]+label,
    .radio-to-buttons_donationAmt .en__field--donationAmt.en__field--radio input[type=radio]+label,
    .radio-to-buttons_recurrfreq .en__field--recurrfreq.en__field--radio input[type=radio]+label{
        text-transform: uppercase;
    }

    .en__field__error{
        font-family: var(--p_font-family);
    }

    .radio-to-buttons .en__field--radio input[type=radio]+label {
        white-space:nowrap;
    }

    label>a {
        font-family:var(--label-font-family);
    }
}